# Support Vector Machines (SVMs) using scikit-learn in Python - Project Overview
### Let's tain and deploy SVMs on another dataset from UCI Machine Learning Repository 
### [Statlog (Australian Credit Approval) Data Set ](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Australian+Credit+Approval%29)<br>

This real dataset concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. <br>

You can download the datafile from the UCI website or use the one which is processed and provided in the course material. Later on, you can download the file from UCI website and do the data cleaning your self for practice your skills. <br>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

**Read the datafile and display the head of your dataframe**

In [3]:
df = pd.read_csv("Aust_Credit_Approval_Data.csv")
df.head()

      x1     x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12   x13  target
0  22.08  11.46   2   4   4  1.585   0   0   0    1    2  100  1213       0
1  22.67   7.00   2   8   4  0.165   0   0   0    0    2  160     1       0
2  29.58   1.75   1   4   4  1.250   0   0   0    1    2  280     1       0
3  21.67  11.50   1   5   3  0.000   1   1  11    1    2    0     1       1
4  20.17   8.17   2   6   4  1.960   1   1  14    0    2   60   159       1

      x1     x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12   x13  target
0  22.08  11.46   2   4   4  1.585   0   0   0    1    2  100  1213       0
1  22.67   7.00   2   8   4  0.165   0   0   0    0    2  160     1       0
2  29.58   1.75   1   4   4  1.250   0   0   0    1    2  280     1       0
3  21.67  11.50   1   5   3  0.000   1   1  11    1    2    0     1       1
4  20.17   8.17   2   6   4  1.960   1   1  14    0    2   60   159       1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      690 non-null    float64
 1   x2      690 non-null    float64
 2   x3      690 non-null    int64
 3   x4      690 non-null    int64
 4   x5      690 non-null    int64
 5   x6      690 non-null    float64
 6   x7      690 non-null    int64
 7   x8      690 non-null    int64
 8   x9      690 non-null    int64
 9   x10     690 non-null    int64
 10  x11     690 non-null    int64
 11  x12     690 non-null    int64
 12  x13     690 non-null    int64
 13  target  690 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 75.6 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 14 columns):
x1        690 non-null float64
x2        690 non-null float64
x3        690 non-null int64
x4        690 non-null int64
x5        690 non-null int64
x6        690 non-null float64
x7        690 non-null int64
x8        690 non-null int64
x9        690 non-null int64
x10       690 non-null int64
x11       690 non-null int64
x12       690 non-null int64
x13       690 non-null int64
target    690 non-null int64
dtypes: float64(3), int64(11)
memory usage: 75.5 KB

In [5]:
df.describe(include=("all"))

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,target
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,31.568203,4.758725,1.766667,7.372464,4.692754,2.223406,0.523188,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,11.853273,4.978163,0.430063,3.683265,1.992316,3.346513,0.499824,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,22.670000,1.000000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,28.625000,2.750000,2.000000,8.000000,4.000000,1.000000,1.000000,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,37.707500,7.207500,2.000000,10.000000,5.000000,2.625000,1.000000,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,target
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,31.568203,4.758725,1.766667,7.372464,4.692754,2.223406,0.523188,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,11.853273,4.978163,0.430063,3.683265,1.992316,3.346513,0.499824,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,22.670000,1.000000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,28.625000,2.750000,2.000000,8.000000,4.000000,1.000000,1.000000,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,37.707500,7.207500,2.000000,10.000000,5.000000,2.625000,1.000000,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

Let's move on to machine learning. 
## Machine Learning

** Do the train test split, use test_size .30 and default value of random state at the moment**

In [7]:
from sklearn.model_selection import train_test_split
X = df.drop('target', axis = 1)
y = df['target']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30 )

In [32]:
X_train

        x1      x2  x3  x4  x5      x6  x7  x8  x9  x10  x11  x12   x13
198  16.08   0.335   2   1   1   0.000   0   1   1    0    2  160   127
646  19.75   0.750   2   8   4   0.795   1   1   5    1    2  140     6
304  15.83   7.625   2  11   4   0.125   0   1   1    1    2    0   161
126  58.33  10.000   2  11   4   4.000   1   1  14    0    2    0  1603
635  21.67   1.165   1   4   4   2.500   1   1   1    0    2  180    21
..     ...     ...  ..  ..  ..     ...  ..  ..  ..  ...  ...  ...   ...
282  44.25   0.500   2   7   4  10.750   1   0   0    0    1  400     1
9    55.75   7.080   2   4   8   6.750   1   1   3    1    2  100    51
163  34.50   4.040   1   3   5   8.500   1   1   7    1    2  195     1
183  24.33   6.625   1   2   4   5.500   1   0   0    1    1  100     1
662  39.92   0.540   1   6   4   0.500   1   1   3    0    2  200  1001

[483 rows x 13 columns]

In [33]:
X_test

        x1      x2  x3  x4  x5     x6  x7  x8  x9  x10  x11  x12   x13
444  20.08   0.250   2  11   4  0.125   0   0   0    0    2  200     1
172  22.67   0.750   2   3   4  1.585   0   1   1    1    2  400    10
607  39.17   1.625   2   8   4  1.500   1   1  10    0    2  186  4701
42   26.75   1.125   2  14   8  1.250   1   0   0    0    2    0  5299
553  49.58  19.000   2   1   1  0.000   1   1   1    0    2   94     1
..     ...     ...  ..  ..  ..    ...  ..  ..  ..  ...  ...  ...   ...
641  41.00   2.040   1  11   8  0.125   1   1  23    1    2  455  1237
319  24.50  12.750   2   8   5  4.750   1   1   2    0    2   73   445
461  17.58   9.000   2   6   4  1.375   1   0   0    1    2    0     1
205  30.83   0.000   2   9   4  1.250   1   1   1    0    2  202     1
60   43.17   5.000   2   3   5  2.250   0   0   0    1    2  141     1

[207 rows x 13 columns]

In [34]:
y_train

198    0
646    0
304    0
126    1
635    0
      ..
282    0
9      0
163    1
183    1
662    1
Name: target, Length: 483, dtype: int64

In [35]:
y_test

444    0
172    0
607    1
42     1
553    0
      ..
641    1
319    1
461    1
205    1
60     0
Name: target, Length: 207, dtype: int64

### Importing and  training the Support Vector Classifier

**Import SVC and create its instance `svm_model`**

In [15]:
from sklearn.svm import SVC

**train the model please**

In [36]:
svm_model = SVC(kernel='rbf',C=10,gamma='auto')
svm_model.fit(X_train,y_train)

SVC(C=10, gamma='auto')

**Do the predictions please**

In [37]:
predictions = svm_model.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

**How the calculate the score?**

In [38]:
svm_model.score(X_test, y_test)

0.5748792270531401

The model is improved after GridSearch but the prediction are not great. In the profession setup, you try different strategies including feature engineering along with using different models to see which one works best for your data. This section is specifically for the SVMs to learn how the model work and how to improve its performance.
# Excellent work!